:root {
    --page-height: 200;
}

body {
    display: grid;
    flex-direction: column;
    background-image: url(congrats.png);
    place-items: center;
    height: 100vh;
    align-items: center;
    text-align: center;
}

main {
    background: linear-gradient(to left, black, white);
    padding: 20px;
    border-radius: 2em;
}

table {
    text-align: left;
    align-items: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-shadow: 0.5ch 0.5ch 10px goldenrod;
}

.sticky {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    background-color: goldenrod;
    /* text-align: left; */
    min-width: 90px;
    padding: 20px;
    border-radius: 2em;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    list-style-type: none;
    color: aqua;
    text-shadow: 0.5ch 0.5ch 10px black;
}

footer {
    position: absolute;
    bottom: 0;
}



